In [85]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
# Importamos el dataset para entrenar
data = pd.read_excel('Data\E-Commerce_train.xlsx')

In [47]:
#Exploramos los datos para familiarizarnos con las columnas y su contenido
data.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1

In [45]:
#Buscar datos faltantes 
True in data.isnull().values

False

In [44]:
#Revisamos las variables categ√≥ricas en busca de valores incorrectos
print(data['Warehouse_block'].unique())
print(data['Mode_of_Shipment'].unique())
print(data['Product_importance'].unique())
print(data['Gender'].unique())

['D' 'F' 'A' 'B' 'C']
['Flight' 'Ship' 'Road']
['low' 'medium' 'high']
['F' 'M']

In [40]:
# Se buscan outliers o comportamientos at√≠picos
data.describe()

,ID,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
count,8999.00000,8999.000000,8999.000000,8999.000000,8999.000000,8999.000000,8999.000000,8999.000000
mean,4500.00000,4.015113,2.994999,208.561507,3.511501,15.097678,3584.364596,0.635515
std,2597.93187,1.138934,1.413143,48.289172,1.532074,17.400040,1614.750194,0.481312
min,1.00000,2.000000,1.000000,96.000000,2.000000,1.000000,1001.000000,0.000000
25%,2250.50000,3.000000,2.000000,168.000000,3.000000,4.000000,1857.000000,0.000000
50%,4500.00000,4.000000,3.000000,211.000000,3.000000,8.000000,4046.000000,1.000000
75%,6749.50000,5.000000,4.000000,249.500000,4.000000,19.000000,4999.500000,1.000000
max,8999.00000,7.000000,5.000000,310.000000,10.000000,65.000000,7846.000000,1.000000

In [12]:
#Separamos las variables num√©ricas de las categ√≥ricas para tratar las categ√≥ricas
numerica = data.drop(['ID', 'Warehouse_block', 'Mode_of_Shipment', 'Product_importance', 'Gender'], axis=1)
numerica.head()

,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,4,2,177,3,44,1233,1
1,4,5,216,2,59,3088,1
2,2,2,183,4,48,3374,1
3,3,3,176,4,10,1177,1
4,2,2,184,3,46,2484,1

In [125]:
categoricas = data.filter(['Warehouse_block', 'Mode_of_Shipment', 'Product_importance', 'Gender'])
categoricas_e = categoricas.copy()
categoricas.tail()

     Warehouse_block Mode_of_Shipment Product_importance Gender
8994               D             Ship                low      F
8995               F             Ship             medium      M
8996               A             Ship             medium      F
8997               B             Ship             medium      F
8998               C             Ship                low      M

In [128]:
from sklearn.preprocessing import OrdinalEncoder

encoder1 = OrdinalEncoder(categories=[sorted(np.array(data['Warehouse_block'].unique()))])
encoder2 = OrdinalEncoder(categories=[sorted(np.array(data['Mode_of_Shipment'].unique()))])
encoder3 = OrdinalEncoder(categories=[sorted(np.array(data['Product_importance'].unique()))])
encoder4 = OrdinalEncoder(categories=[sorted(np.array(data['Gender'].unique()))])

In [129]:
encoder1.fit(categoricas[['Warehouse_block']])
encoder2.fit(categoricas[['Mode_of_Shipment']])
encoder3.fit(categoricas[['Product_importance']])
encoder4.fit(categoricas[['Gender']])

OrdinalEncoder(categories=[['F', 'M']])

OrdinalEncoder(categories=[['Flight', 'Road', 'Ship']])

In [131]:
categoricas_e["Warehouse_block"] = encoder1.transform(categoricas[["Warehouse_block"]])
categoricas_e["Mode_of_Shipment"] = encoder2.transform(categoricas[["Mode_of_Shipment"]])
categoricas_e["Product_importance"] = encoder3.transform(categoricas[["Product_importance"]])
categoricas_e["Gender"] = encoder4.transform(categoricas[["Gender"]])

In [132]:
categoricas_e

      Warehouse_block  Mode_of_Shipment  Product_importance  Gender
0                 3.0               0.0                 1.0     0.0
1                 4.0               0.0                 1.0     1.0
2                 0.0               0.0                 1.0     1.0
3                 1.0               0.0                 2.0     1.0
4                 2.0               0.0                 2.0     0.0
...               ...               ...                 ...     ...
8994              3.0               2.0                 1.0     0.0
8995              4.0               2.0                 2.0     1.0
8996              0.0               2.0                 2.0     0.0
8997              1.0               2.0                 2.0     0.0
8998              2.0               2.0                 1.0     1.0

[8999 rows x 4 columns]

In [134]:
categoricas_e.describe()

       Warehouse_block  Mode_of_Shipment  Product_importance       Gender
count      8999.000000       8999.000000         8999.000000  8999.000000
mean          2.333148          1.519502            1.336148     0.495499
std           1.490774          0.755827            0.639007     0.500008
min           0.000000          0.000000            0.000000     0.000000
25%           1.000000          1.000000            1.000000     0.000000
50%           2.000000          2.000000            1.000000     0.000000
75%           4.000000          2.000000            2.000000     1.000000
max           4.000000          2.000000            2.000000     1.000000

In [137]:
datos_e = pd.concat([numerica,categoricas_e],axis=1)
datos_e

,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N,Warehouse_block,Mode_of_Shipment,Product_importance,Gender
0,4,2,177,3,44,1233,1,3.0,0.0,1.0,0.0
1,4,5,216,2,59,3088,1,4.0,0.0,1.0,1.0
2,2,2,183,4,48,3374,1,0.0,0.0,1.0,1.0
3,3,3,176,4,10,1177,1,1.0,0.0,2.0,1.0
4,2,2,184,3,46,2484,1,2.0,0.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
8994,3,1,217,3,1,4177,1,3.0,2.0,1.0,0.0
8995,5,3,232,3,3,4526,0,4.0,2.0,2.0,1.0
8996,4,5,260,3,6,4221,0,0.0,2.0,2.0,0.0
8997,4,2,184,3,5,5931,1,1.0,2.0,2.0,0.0
8998,5,4,145,4,4,4790,0,2.0,2.0,1.0,1.0

In [138]:
X = datos_e.drop('Reached.on.Time_Y.N', axis=1)
y = datos_e['Reached.on.Time_Y.N']